ShopControlService/ShopControlClient/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1677/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1677/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1677/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopControlService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddNewClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewClient" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClientCatalogList_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientCatalogList" />
  </wsdl:message>
  <wsdl:message name="IService_ClientCatalogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientCatalogListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindClientById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClientById" />
  </wsdl:message>
  <wsdl:message name="IService_FindClientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ManufacturerCatalogList_InputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerCatalogList" />
  </wsdl:message>
  <wsdl:message name="IService_ManufacturerCatalogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManufacturerCatalogListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewManufacturer" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManufacturer" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteManufacturer" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindManufacturerById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindManufacturerById" />
  </wsdl:message>
  <wsdl:message name="IService_FindManufacturerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindManufacturerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGroup" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ProductGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductGroupList" />
  </wsdl:message>
  <wsdl:message name="IService_ProductGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroup" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddNewClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewClient" message="tns:IService_AddNewClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewClientResponse" message="tns:IService_AddNewClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientCatalogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClientCatalogList" message="tns:IService_ClientCatalogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClientCatalogListResponse" message="tns:IService_ClientCatalogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateClient" message="tns:IService_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateClientResponse" message="tns:IService_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FindClientById" message="tns:IService_FindClientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FindClientByIdResponse" message="tns:IService_FindClientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteClient" message="tns:IService_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteClientResponse" message="tns:IService_DeleteClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManufacturerCatalogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ManufacturerCatalogList" message="tns:IService_ManufacturerCatalogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ManufacturerCatalogListResponse" message="tns:IService_ManufacturerCatalogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewManufacturer" message="tns:IService_AddNewManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewManufacturerResponse" message="tns:IService_AddNewManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateManufacturer" message="tns:IService_UpdateManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateManufacturerResponse" message="tns:IService_UpdateManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteManufacturer" message="tns:IService_DeleteManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteManufacturerResponse" message="tns:IService_DeleteManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindManufacturerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FindManufacturerById" message="tns:IService_FindManufacturerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FindManufacturerByIdResponse" message="tns:IService_FindManufacturerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewGroup" message="tns:IService_AddNewGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewGroupResponse" message="tns:IService_AddNewGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ProductGroupList" message="tns:IService_ProductGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ProductGroupListResponse" message="tns:IService_ProductGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteGroup" message="tns:IService_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteGroupResponse" message="tns:IService_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGroup" message="tns:IService_UpdateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGroupResponse" message="tns:IService_UpdateGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewClient">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientCatalogList">
      <soap:operation soapAction="http://tempuri.org/IService/ClientCatalogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClientById">
      <soap:operation soapAction="http://tempuri.org/IService/FindClientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManufacturerCatalogList">
      <soap:operation soapAction="http://tempuri.org/IService/ManufacturerCatalogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewManufacturer">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindManufacturerById">
      <soap:operation soapAction="http://tempuri.org/IService/FindManufacturerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewGroup">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductGroupList">
      <soap:operation soapAction="http://tempuri.org/IService/ProductGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1677/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>