ShopControlService/ShopControlClient/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopControlService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopControlService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientCatalog" nillable="true" type="tns:ClientCatalog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientCatalog" nillable="true" type="tns:ArrayOfClientCatalog" />
  <xs:complexType name="ClientCatalog">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityId">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CardNumber" type="xs:int" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Descripton" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Discount" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalSum" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientCatalog" nillable="true" type="tns:ClientCatalog" />
  <xs:complexType name="EntityId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityId" nillable="true" type="tns:EntityId" />
  <xs:complexType name="ArrayOfManufacturerCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManufacturerCatalog" nillable="true" type="tns:ManufacturerCatalog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManufacturerCatalog" nillable="true" type="tns:ArrayOfManufacturerCatalog" />
  <xs:complexType name="ManufacturerCatalog">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bank" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDERPOU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsRealization" type="xs:boolean" />
          <xs:element minOccurs="0" name="MFO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SumDebt" type="xs:float" />
          <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManufacturerCatalog" nillable="true" type="tns:ManufacturerCatalog" />
  <xs:complexType name="ArrayOfProductGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductGroup" nillable="true" type="tns:ProductGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductGroup" nillable="true" type="tns:ArrayOfProductGroup" />
  <xs:complexType name="ProductGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:ProductGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductGroup" nillable="true" type="tns:ProductGroup" />
</xs:schema>