ShopControlService/ShopControlClient/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1677/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1677/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1677/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopControlService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddNewClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewClient" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClientCatalogList_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientCatalogList" />
  </wsdl:message>
  <wsdl:message name="IService_ClientCatalogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientCatalogListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindClientById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClientById" />
  </wsdl:message>
  <wsdl:message name="IService_FindClientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddNewClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewClient" message="tns:IService_AddNewClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewClientResponse" message="tns:IService_AddNewClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientCatalogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClientCatalogList" message="tns:IService_ClientCatalogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClientCatalogListResponse" message="tns:IService_ClientCatalogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateClient" message="tns:IService_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateClientResponse" message="tns:IService_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FindClientById" message="tns:IService_FindClientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FindClientByIdResponse" message="tns:IService_FindClientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteClient" message="tns:IService_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteClientResponse" message="tns:IService_DeleteClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewClient">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientCatalogList">
      <soap:operation soapAction="http://tempuri.org/IService/ClientCatalogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClientById">
      <soap:operation soapAction="http://tempuri.org/IService/FindClientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1677/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>